# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual env
venv/
.venv/

# Environments / secrets
.env
.env.*
*.pem

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# HF uploads
*.log
